.additionalyInfoItemContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  bottom: -60%;
  padding: 0rem 1rem;
  background-color: #202020;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.additionalyInfoItemContainerAcitve {
  z-index: 2;
}
.releaseDate,
.genres,
.chart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  letter-spacing: 0.2px;
  border-bottom: 0.5px solid #464343;
  & div:nth-child(1) {
    font-size: 13px;
    font-weight: 300;
    color: #a49b9b;
  }
  & div:nth-child(2) {
    font-weight: 300;
    font-size: 13px;
  }
}
.genres,
.chart {
  margin-top: 0.5rem;
}
.genres {
  & div:nth-child(2) {
    display: flex;
    & div {
      font-size: 13px;
      color: #fff;
      text-decoration: underline;
      transition: 0.2s color ease-in-out;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 0.3rem;
      }
      &:hover {
        color: #464343;
      }
    }
  }
}
.chart {
  border-bottom: none;
  & div:nth-child(2) {
    cursor: pointer;
    transition: 0.2s color ease-in-out;
    &:hover {
      color: #464343;
    }
  }
}
.btnShowMore,
.btnHideGame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  background-color: #2c2b2b;
  transition: 0.2s color ease-in-out, 0.1s transform ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
    color: rgb(255, 129, 83);
  }
}
.btnHideGame {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}
