.gameInfoBlockLeft {
  width: 60%;
}
.platforms__playtime {
  display: flex;
}
.gameName {
  margin-top: 1rem;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 1.6px;
  line-height: 55px;
}
.gameButtonsAddTo {
  display: flex;
  margin-top: 1.5rem;
}
.btnAddMyGames {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 0.2rem 1rem;
  padding-right: 3.5rem;
  border-radius: 0.3rem;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  transition: 0.2s background-color ease-in-out;
  &:hover {
    background-color: #ccc;
  }
  & div,
  span {
    font-size: 15px;
  }
  & div:nth-child(1) {
    color: rgb(118, 115, 115);
    height: 1.1rem;
  }
  & span {
    color: rgb(118, 115, 115);
  }
  & svg {
    position: absolute;
    right: 0;
    fill: #84d100;
  }
}
.btnAddWishlist {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  padding: 0.2rem 1rem;
  padding-right: 3.5rem;
  border-radius: 0.3rem;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: 0.2s border-color ease-in-out;
  &:hover {
    border-color: rgb(178, 176, 176);
  }
  & div {
    font-size: 15px;
  }
  & div:nth-child(1) {
    color: rgb(118, 115, 115);
    height: 1.1rem;
  }
  & svg {
    position: absolute;
    right: 0;
    fill: #fff;
  }
}
.btnSaveCollection {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 1rem;
  padding: 0.2rem 1rem;
  padding-right: 3.5rem;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
  & div,
  span {
    font-size: 15px;
    transition: 0.2s color ease-in-out;
  }
  & span {
    display: flex;
    & svg {
      margin-left: 0.3rem;
    }
  }
  & div:nth-child(1) {
    color: rgb(118, 115, 115);
    height: 1.1rem;
  }
  &:hover {
    & span {
      color: rgb(118, 115, 115);
    }
  }
}
.gameRating {
  display: flex;
  margin-top: 2rem;
}
.categoryRating,
.categoryGenres,
.totalRating {
  & div:nth-child(1) {
    height: 1.7rem;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.6px;
  }
  & span:nth-child(2) {
    font-size: 11px;
    letter-spacing: 2px;
    cursor: pointer;
    color: rgb(118, 115, 115);
    border-bottom: 1px solid rgb(118, 115, 115);
    transition: 0.2s color ease-in-out;
    &:hover {
      color: #fff;
    }
  }
}
.categoryRating {
  padding-right: 2rem;
}
.categoryGenres {
  border-right: 1px solid rgb(118, 115, 115);
  border-left: 1px solid rgb(118, 115, 115);
  padding: 0rem 2rem;
  & div:nth-child(1) {
    font-size: 26px;
    font-weight: 700;
  }
}
.totalRating {
  padding-left: 2rem;
  & div:nth-child(1) {
    font-size: 26px;
    font-weight: 700;
  }
}
.ratingScaleContainer {
  margin-top: 1rem;
}
.ratingScaleHeader {
  font-size: 14px;
  font-weight: 300;
  color: rgb(118, 115, 115);
}
.ratingScale {
  width: 100%;
  height: 3rem;
  display: flex;
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  & div {
    display: flex;
    position: relative;
    cursor: pointer;
    transition: 0.1s box-shadow ease-in-out;
  }
  & div:nth-child(1) {
    width: 64%;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    background-image: linear-gradient(180deg, #b4ec51, #429321);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b4ec51), to(#429321));
  }
  & div:nth-child(2) {
    width: 42%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4354b9), to(#649bff));
    background-image: linear-gradient(0deg, #4354b9, #649bff);
  }
  & div:nth-child(3) {
    width: 15%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fad961), to(#f76b1c));
    background-image: linear-gradient(180deg, #fad961, #f76b1c);
  }
  & div:nth-child(4) {
    width: 22%;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5764), to(#f11a2a));
    background-image: linear-gradient(180deg, #ff5764, #f11a2a);
  }
}
.scaleBackgroundLikeImage,
.scaleBackgroundRatingImage,
.scaleBackgroundMehImage,
.scaleBackgroundSkipImage {
  position: absolute;
  bottom: 0;
  width: 30px;
}
.scaleBackgroundRatingImage {
  width: 45px;
}
.ratingScaleActive {
  box-shadow: 0px 0px 8px 3px white;
}
.ratingScaleNaming {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  & div {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 0.3rem 1rem;
    border-radius: 3rem;
    border: 0.1px solid rgba(124, 122, 122, 0);
    transition: 0.1s border-color ease-in-out;
    & span {
      font-size: 14px;
      font-weight: 500;
      margin-left: 0.3rem;
      color: rgb(118, 115, 115);
    }
    & svg {
      margin-right: 0.2rem;
    }
  }
  & div:nth-child(1) {
    & svg {
      fill: #b2f341;
    }
  }
  & div:nth-child(2) {
    & svg {
      fill: #4281f7;
    }
  }
  & div:nth-child(3) {
    & svg {
      fill: #e2b81d;
    }
  }
  & div:nth-child(4) {
    & svg {
      fill: #f72a3b;
    }
  }
}
.ratingScaleNamingActive {
  border-color: rgb(124, 122, 122) !important;
}
.btnReview__Comment {
  display: flex;
  margin-top: 1.5rem;
}
.btnReview,
.btnComment {
  display: flex;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
  color: hsla(0, 0%, 100%, 0.5);
  background-color: hsla(0, 0%, 100%, 0.1);
  transition: 0.15s background-color ease-in-out, 0.15s color ease-in-out;
  & svg {
    margin-right: 0.5rem;
    fill: hsla(0, 0%, 100%, 0.5);
    transition: 0.15s fill ease-in-out;
  }
  &:hover {
    background-color: #fff;
    color: #000;
    & svg {
      fill: #000;
    }
  }
}
.btnComment {
  margin-left: 1.5rem;
  & svg {
    fill: hsla(0, 0%, 100%, 0);
    stroke: hsla(0, 0%, 100%, 0.5);
    transition: 0.15s stroke ease-in-out;
  }
  &:hover {
    & svg {
      stroke: hsl(0, 1%, 55%);
      fill: hsla(0, 0%, 100%, 0);
    }
  }
}
.aboutTheGame {
  margin-top: 1.5rem;
}
.aboutTheGameHeaderText {
  font-size: 26px;
  font-weight: 500;
}
.aboutTheGameText {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.aboutGameTextShowMore {
  margin-left: 0.3rem;
}
.aboutGameTextShowMoreBtn {
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 0.15rem 0.4rem;
  color: #000;
  cursor: pointer;
  background-color: #fff;
  transition: 0.15s background-color ease-in-out;
  &:hover {
    background-color: rgb(174, 171, 171);
  }
}
.additionallyInfoAboutGame {
  display: flex;
  margin-top: 0.5rem;
}
.additInfoGameLeftBlock {
  width: 50%;
}
.additInfoGameHeader {
  font-size: 17px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  color: rgb(81, 79, 79);
}
.additInfoPlatforms,
.additInfoGenres {
  min-height: 3rem;
  & span {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s color ease-in-out;
    &:not(:last-child) {
      margin-right: 0.3rem;
      &::after {
        content: ',';
      }
    }
    &:hover {
      color: rgb(106, 104, 104);
    }
  }
}
.additInfoReleaseDate,
.additInfoDeveloper {
  min-height: 2rem;
}
.additInfoPublisher,
.additInfoAgeRating {
  min-height: 2rem;
}
.additInfoPublisher,
.additInfoDeveloper {
  & span {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.2s color ease-in-out;
    &:hover {
      color: rgb(106, 104, 104);
    }
  }
}
.additInfoGameRightBlock {
  width: 50%;
  margin-left: 1rem;
}
.websiteThisGameText {
  margin-top: 1rem;
  color: rgb(81, 79, 79);
}
.websiteThisGameLink {
  margin-top: 1rem;
  & a {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s color ease-in-out;
    &:hover {
      color: rgb(81, 79, 79);
    }
  }
}
.systemRequirements {
  margin-top: 1.5rem;
  & div:nth-child(1) {
    margin-bottom: 1rem;
    font-size: 28px;
    font-weight: 500;
  }
}
.systemReqShowMoreBtn {
  cursor: pointer;
  transition: 0.2s color ease-in-out;
  &:hover {
    color: rgb(81, 79, 79);
  }
}
.systemReqText {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 1rem;
}
