.homeContainer {
  width: 100%;
  padding-right: 3rem;
  padding-top: 3rem;
  color: #fff;
}
.header {
  font-size: 75px;
  letter-spacing: 1px;
  font-weight: 700;
  height: 4rem;
}
.subHeader {
  font-weight: 300;
  letter-spacing: 0.5px;
}
.mainContainer {
  display: grid;
  margin-top: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.mainItem {
  width: 23rem;
  border-radius: 1rem;
  transition: 0.2s transform ease-in-out;
  background-color: #202020;
  &:hover {
    transform: scale(1.03);
  }
}
.itemInfoContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
}
.itemName {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 27px;
  margin: 0.5rem 0rem;
}
.itemControllersContainer {
  display: flex;
  align-items: center;
  & svg {
    fill: #fff;
  }
}
.controllerPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  min-height: 1.7rem;
  border-radius: 0.3rem;
  background-color: #434141;
  transition: 0.3s background-color ease-in-out, 0.3s fill ease-in-out;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  &:hover {
    background-color: #fff;
    & svg {
      fill: #000;
    }
  }
}
.additionalyControllers {
  display: flex;
  align-items: center;
  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5rem;
    min-height: 1.7rem;
    border-radius: 0.3rem;
    background-color: #434141;
    transition: 0.3s background-color ease-in-out, 0.3s fill ease-in-out;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
    &:hover {
      background-color: #fff;
      & svg {
        fill: #000;
      }
    }
  }
}
