.itemControllers-enter {
  opacity: 0;
  transform: scale(0.9);
}
.itemControllers-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.itemControllers-exit {
  opacity: 1;
}
.itemControllers-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.playFullVideo-enter {
  opacity: 0;
  transform: scale(0.9);
}
.playFullVideo-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.playFullVideo-exit {
  opacity: 1;
}
.playFullVideo-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}
